* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 70%;
  box-sizing: border-box;
}

body {
  background-color: #d8ffe0;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  cursor: pointer;
  margin-bottom: 40px;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.site-name {
  font-size: 25px;
}

.question {
  font-size: 30px;
}

.search-div {
  height: 250px;
  width: 800px;
  display: grid;
  justify-items: center;
  margin: 20px auto;
  font-size: 25px;
}

.size-dropdown {
  border: 2px solid;
  border-radius: 2rem;
  text-align: center;
  font-size: 25px;
}

.search-name {
  font-size: 25px;
  width: 190px;
  height: 40px;
  padding: 0 1rem;
  outline: 0;
  border: 2px solid;
  border-radius: 30px;
}

.search-size-btn {
  border: none;
  line-height: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
  background: #85f89a;
  text-transform: uppercase;
  cursor: pointer;
  background-size: 300%;
  z-index: 1;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin: auto;
}
.search-size-btn:hover {
  background-color: #17f13f;
  transition: 0.5s;
}

.search-name-btn {
  border: none;
  line-height: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
  background: #85f89a;
  text-transform: uppercase;
  cursor: pointer;
  background-size: 300%;
  z-index: 1;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin: auto;
}
.search-name-btn:hover {
  background-color: #17f13f;
  transition: 0.5s;
}

.info {
  grid-column: 1/-1;
  text-align: center;
  font-size: 25px;
}

.error-message {
  font-size: 25px;
  grid-column: 2/3;
  text-align: center;
}

.dog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px;
  width: 1400px;
  margin: auto;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
}

.dog-info {
  position: relative;
  height: 400px;
  width: 400px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #85f89a;
  color: black;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
}

.centered {
  grid-column: 2/3;
}

.dog-img {
  position: relative;
  height: 300px;
}

.dog-name {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}

.dog-name:hover {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal {
  position: relative;
  border: 8px solid #85f89a;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow: auto;
}

.close-modal {
  position: fixed;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 50px;
  width: 900px;
  height: 600px;
  font-size: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hide_overflowY {
  overflow-y: hidden;
}

.dog-header-modal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 15px;
}

.dog-img-modal {
  height: auto;
  width: 500px;
}

.dog-info-modal {
  display: flex;
  gap: 7px;
  flex-direction: column;
  font-size: 20px;
}

.show-images {
  position: absolute;
  bottom: 30px;
  right: 100px;
  border: none;
  line-height: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
  background: #85f89a;
  text-transform: uppercase;
  cursor: pointer;
  background-size: 300%;
  z-index: 1;
  border-radius: 50px;
  width: 300px;
  height: 70px;
  font-size: 20px;
  margin: auto;
}

.show-images:hover {
  background-color: #17f13f;
  transition: 0.5s;
}

@media screen and (max-width: 900px) {
  body {
    width: 380px;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .logo-img {
    width: 70px;
    height: 70px;
  }

  .site-name {
    font-size: 18px;
  }

  .question {
    font-size: 22px;
  }

  .search-div {
    height: 250px;
    width: 330px;
    display: grid;
    justify-items: center;
    margin: auto;
    font-size: 22px;
  }

  .size-dropdown {
    font-size: 22px;
    width: 190px;
  }

  .search-name {
    font-size: 22px;
  }

  .centered {
    grid-column: auto;
  }

  .error-message {
    font-size: 22px;
    grid-column: 1/-1;
    text-align: center;
  }

  .info {
    grid-column: 1/-1;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .dog-list {
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: auto;
    gap: 20px;
    width: 380px;
    position: relative;
    justify-items: center;
    justify-content: center;
    margin: 20px auto;
  }

  .dog-info {
    position: relative;
    height: 190px;
    width: 170px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #85f89a;
    color: black;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  }

  .dog-name {
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
  }

  .dog-img {
    position: relative;
    height: 120px;
  }

  .modal {
    position: relative;
    border: 8px solid #85f89a;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    overflow: auto;
  }

  .close-modal {
    position: sticky;
    top: 1.2rem;
    left: 26rem;
    font-size: 3.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 50px;
    width: 300px;
    height: 350px;
  }

  .dog-img-modal {
    height: auto;
    width: 200px;
  }

  .dog-header-modal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 12px;
  }

  .dog-info-modal {
    display: flex;
    gap: 7px;
    flex-direction: column;
    font-size: 18px;
  }

  .show-images {
    position: relative;
    bottom: 20px;
    right: 0px;
    border: none;
    line-height: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
    background: #85f89a;
    text-transform: uppercase;
    cursor: pointer;
    background-size: 300%;
    z-index: 1;
    border-radius: 50px;
    width: 150px;
    height: 60px;
    font-size: 18px;
    padding: 6px;
    margin: auto;
  }
}
